@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    object-position: 50% 80%;
    animation: loader 1s linear infinite;
}